html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

h1 {
  font-family: "Mitr", sans-serif;
  transition: all 0.2s ease;
}

h1:hover {
  color: white;
  background-color: #9591b4;
  transform: translate(-0.2rem) scale(1.05);
}

.intro {
  font-family: "Kalam", cursive;
}

.navbar {
  background: rgb(0 112 121);
}

.navbar:last-child {
  opacity: 90%;
}

.navbar-brand {
  width: 6.5rem;
  transition: all 0.2s ease;
}

.navbar-brand:hover {
  opacity: 85%;
  transform: translate(-0.2rem) scale(1.05);
}

.navbar-brand:active {
  transform: translate(-0.1rem, 0.1rem);
}

.search-box {
  border: none;
  max-width: 15rem;
  background-color: #9591b4;
}

.sort-button {
  cursor: pointer;
  background-image: linear-gradient(
      to bottom,
      rgba(199, 247, 255, 0.8),
      rgba(199, 247, 255, 0.8)
    ),
    url(../public/img/sort-button.png);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;

  transition: transform 0.2s ease;
}

.sort-button:hover {
  transform: translateY(-0.1rem) scale(1.05);
}

.sort-button:active {
  transform: translate(-0.1rem, 0.1rem);
}

.filter-select {
  background-image: linear-gradient(
      to bottom,
      rgba(199, 247, 255, 0.6),
      rgba(199, 247, 255, 0.6)
    ),
    url(../public/img/filter-button.png);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;

  transition: transform 0.2s ease;
}

.filter-select:hover {
  transform: translateY(-0.1rem) scale(1.05);
}

.filter-select > select {
  cursor: pointer;
  max-width: 5rem;
  overflow: hidden;
  font-weight: bold;
}
.filter-select > select:focus,
.filter-select > select:active {
  border: none;
  box-shadow: none;
}

.footer-link {
  font-size: 1.5rem;
}

.footer-profile {
  width: 2.5rem;
  transition: transform 0.2s ease;
}

.footer-profile:hover {
  transform: translateY(-0.2rem) scale(1.2);
}

.footer-profile:active {
  transform: translate(-0.1rem, 0.2rem);
}

.footer-profile > img {
  border-radius: 50%;
}

.page-content {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../public/img/control-room.jpg);
  background-size: cover;
}

.main-content {
  margin-top: 5rem;
}

.message {
  background-color: rgb(0 112 121);
}

.no-style {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.welcome {
  max-width: 60rem;
  min-height: 30rem;
  background-image: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.9) 40%,
      rgba(255, 255, 255, 0.9) 100%,
      transparent 40%
    ),
    url(../public/img/control-room.jpg);
  background-size: cover;
}

.auth-form {
  margin-bottom: 20rem;
}

.go-signup {
  display: none;
}

@media only screen and (min-width: 576px) {
  .go-signup {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .auth-form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px) {
  .welcome {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.9) 50%,
        rgba(255, 255, 255, 0.9) 100%,
        transparent 50%
      ),
      url(../public/img/control-room.jpg);
    background-size: cover;
  }

  .auth-form {
    max-width: 42%;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .welcome {
    max-width: 70rem;
  }
}
